* {
  padding: 0;
  margin: 0;
  border: 0;
}
ul li {
  list-style: none;
}
:root {
  --auth-text-link-color: #757575;
  --logo-text-studio-color: #000000;
  --logo-text-web-hoover-color: #2196f3;
  --nav-text-link-color: #212121;
  --headline-text-color: #ffffff;
  --button-bcg-color: #188ce8;
  --main-background-color: #f5f5f5;
  --background-color-team: #f5f4fa;
  --background-color-footer: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
}
header {
  background: var(--headline-text-color);
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
/* ЛОГОТИП */
.header-logo {
  color: var(--logo-text-studio-color);
}
.logo-web {
  color: var(--logo-text-web-hoover-color);
}
.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* НАВІГАЦІЯ */
.nav-link,
.auth-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;
}
.nav-link:active,
.auth-link:hover {
  color: var(--logo-text-web-hoover-color);
}
.nav-link:focus,
.auth-link:focus {
  color: var(--logo-text-web-hoover-color);
}
.nav-link {
  color: var(--nav-text-link-color);
}
.auth-link {
  color: var(--auth-text-link-color);
}

/* ГЕРОЙ */
.hero {
  box-sizing: border-box;
  background-color: var(--background-color-footer);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.headline {
  color: var(--headline-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}
.button {
  /* текст */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  position: absolute;
  width: 152px;
  height: 30px;
  left: 724px;
  top: 440px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--headline-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* фон */
  background: var(--logo-text-web-hoover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
}
.button:active {
  background: var(--button-bcg-color);
}
/* ОСОБЛИВОСТІ */
.features {
  background-color: var(--main-background-color);
}
.title-transparent {
  color: transparent;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-text-link-color);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--auth-text-link-color);
}

/* НАША КОМАНДА */
.team {
  background: var(--background-color-team);
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1446px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-text-link-color);
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--nav-text-link-color);
}

.card {
  background: var(--headline-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
  text-align: center;
}
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  background: var(--background-color-footer);
}
.footer-logo {
  color: var(--headline-text-color);
  text-decoration: none;
}

.adress-footer-link,
.footer-link {
  color: var(--headline-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress-footer-link:hover,
.adress-footer-link:focus {
  color: var(--logo-text-web-hoover-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--logo-text-web-hoover-color);
}
